.about-slider {
  padding-top: 70px;
  padding-bottom: 120px;

  background-color: var(--putty-color);

  &__slide {
    position: relative;
    display: flex;
    flex-direction: column;
  }

}
.about-slider-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 70%;
  font: var(--font-regular);
  line-height: 200%;
  color: var(--light-color);
  background-color: rgba(77,72,60,.7);

  &__title {
    text-transform: uppercase;
  }
  &__address {
    font-style: normal;
  }
  span {
    display: block;
  }
}



          .swiper {
            //margin: 30px 0;
            //border: 1px solid var(--green-color);
            //outline: 5px solid var(--green-color);

            outline: 5px solid var(--green-color);
            outline-offset: -3px;
            border-radius: 15px;
            width: 100%;
            height: 100%;
          }

          .swiper-slide {
            text-align: center;
            font-size: 18px;
            //background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .swiper-slide img {
            //display: block;
            width: 100%;
            height: 100%;
            //object-fit: cover;
          }
.about-slider-nav {

  &__next {
    position: absolute;
    z-index: 40;
    top: calc(50% - 25px);
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    opacity: 0.8;
    background-color: white;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--green-color);
    }
    &:active {
      border: 1px solid var(--green-color);
    }
    &:focus {
      background-color: var(--green-color);
    }


  }

  &__prev {
    position: absolute;
    z-index: 40;
    top: calc(50% - 25px);
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    opacity: 0.8;
    background-color: white;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--green-color);
    }
    &:active {
      border: 5px solid var(--green-color);
    }
    &:focus {
      background-color: var(--green-color);
    }
  }
}
.swiper-button-disabled {
  opacity: 0;
}
.swiper-pagination-bullet {
  height: 20px;
  width: 20px;
  opacity: 0.8;
  background-color: white;

  &-active {
    background-color: var(--green-color);
  }
}
