.details {
  //padding: 20px;
  margin-bottom: 0;


}
.details-accordion {

  &__title {
    line-height: 0;
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--small-offset) 0;
    width: 100%;
    font: var(--font-regular);
    background-color: transparent;
    cursor: pointer;
  }

  &__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 5px;
    margin-left: var(--small-offset);
    background-image: url("../img/cross.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-out;
  }

 &__content {
    overflow: hidden;
    padding: 0 20px;
    max-height: 0;
    font: var( --font-mini-light);
    box-sizing: content-box;
    opacity: 0;
    transition: all 0.3s ease-out;
    will-change: max-height;


  }
  &__content--max {
    margin-left: 25%;
    max-width: 50%;
    text-align: center;
  }
}
.open .details-accordion__content {
  padding-bottom: var(--small-offset);
	opacity: 1;

}
.open .details-accordion__icon {
	transform: rotate(45deg);
}
