.catalog-header {
  background-color: var(--putty-color);
  background-image: url('../img/cheese.png');
  background-repeat: no-repeat;

  &__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

&__content {
    display: grid;
    grid-column: 3 / 7 span;
    //gap: 60px;
    padding: 65px 0;
    @include big-desktop {
      padding: 20px 0;
    }
    @include tablet {
      grid-column: 2 / 10 span;
    }

  }

&__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 160%;
    color: var(--green-color);
    grid-column: 12 span;
    @include tablet {
      font-size: 32px;
      line-height: normal;
    }

  }
  &__subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: var(--dark-color);
    grid-column: 12 span;
    @include tablet {
      font-size: 24px;
      line-height: normal;
    }
}


}



