.catalog {
  background: var(--putty-color);

  &__content {
    padding: 100px 0;
    padding-bottom: 50px;




   }
   &__btn-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
   }

}
