.catalog {
  background: var(--putty-color);

  &__content {
    padding: 70px 0 50px 0;
    //padding-bottom: 50px;

    @include tablet {
      padding: 60px 0;
    }

    @include mobile {
      padding-top: 40px;
      padding-bottom: 0;
    }
 }


   &__btn-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    @include small-tablet {
      padding: 0;
    }
   }

}
