.contacts {
  background-image: url('../img/cheese-small.png');
  background-repeat: no-repeat;
  padding: 34px 0;
  background-color: var(--putty-color);

  &__container {
    @include flex-all-center;
    flex-direction: column;
    line-height: 210%;
  }
  &__title {
    font-weight: 600;
    font-size: 32px;
    color: var(--green-color);
  }
  &__name {
    font-weight: 400;
    font-size: 24px;
    color: var(--dark-color);
  }
  &__address {
    font-weight: 300;
    font-size: 24px;
    color: var(--dark-color);
  }
  &__phone {
    font-weight: 300;
    font-size: 22px;
    color: var(--green-color);

    &:hover {
      color: var(--green-dark-color);
    }
  }
}
