//navigation for menu

.nav {
  margin: 0;
  padding: 0;
  padding-right: 25px;

  @include small-tablet {
    padding-right: 10px;
  }


  &__list {
    @include flex-v-center;

    display: grid;
    grid-template-columns: repeat(12, 1fr);

  @include mobile {
    display: flex;
    flex-direction: column;
  }

  }
  &__item {
    display: grid;
    grid-column: 3 span;

    &:last-child {
      margin-left: auto;
    }

    @include mobile {
      padding-bottom: 10px;
      &:last-child {
        margin: 0;
      }
    }
}
&__link {
  font-weight: 600;
  font-size: 20px;
  color: var(--dark-color);

  &:hover {
    color: var(--green-color);
  }
}

}
