.nav {
  margin: 0;
  padding: 0;
  padding-right: 25px;

  @include small-tablet {
    padding-right: var(--small-offset);
  }


  &__list {
    @include flex-v-center;

    display: grid;
    grid-template-columns: repeat(12, 1fr);

  @include mobile {
    display: flex;
    flex-direction: column;
  }

  }
  &__item {
    display: grid;
    grid-column: 3 span;

    &:last-child {
      margin-left: auto;
    }

    @include mobile {
      padding-bottom: var(--small-offset);
      &:last-child {
        margin: 0;
      }
    }
}
&__link {
  font-weight: 600;
  font-size: 20px;
  color: var(--dark-color);

  @include for-desktop {
    &:hover {
      color: var(--green-color);
    }
  }

}

}
.burger-wrap {
  display: none;
  position: absolute;
    right: 10px;
    top: 10px;
    padding: 15px 10px;
    background-color: var(--putty-color);
    border-radius: 50%;

  @include small-tablet {
    display: block;
  }
}
.burger-wrap--close {
  border: none;
  //padding: 7px;
  background-color: transparent;
}
.burger {
  @include burger;
  --burger-width: 44px;
  --burger-height: 30px;
  --burger-line-height: 3px;
  z-index: 5000;




  display: none;
  color: var(--light-color);

  @include small-tablet {
    display: block;
  }

  &__line {
    height: 4px;
    border-radius: 2px;
  }
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--dark-color);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out, background-color 0.3s ease-in-out;

}

.burger--active::after {
  background-color: var(--green-color);


}
.burger--active::before {
  background-color: var(--green-color);


}












.menu-mobile {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-color);
  opacity: .9;
  transition: left 0.3s ease-in-out;

  &__item {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  &__link {
    font-size: 25px;
    color: var(--green-color);
  }
}
.menu-mobile.menu--open {
  left: 0;

@include small-tablet-menu {
  display: none;
}
}
