.catalog {
  background-color: var(--putty-color);
  padding-top: 100px;

  &__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
  .cart {
    margin: 0 auto;
    grid-column: 3 span;
    @include flex-h-center;
    flex-direction: column;
    margin-bottom: 35px;

    @include big-desktop {
      grid-column: 4 span;

    }

    @include tablet {
      grid-column: 6 span;

    }

    @include small-tablet {
      grid-column: 12 span;
    }

@include mobile {
      grid-column: 12 span;
    }

    &__view {
      background-color: var(--green-color);
      font-weight: 400;
      font-size: 20px;
      color: var(--light-color);
      text-align: center;
      padding: 22px 0;
      margin-top: -67px;
      opacity: 0;
      transition: 1s;

      &:hover {
        opacity: 1;
        transition: 1s;
      }

     }

     &__title {
      font-weight: 600;
      font-size: 28px;
      line-height: 160%;
      text-align: center;
      color: var(--dark-color);
      padding-top: 26px;

     }
     &__land {
      font-weight: 400;
      font-size: 24px;
      line-height: 160%;
      text-align: center;
      color: var(--dark-color);
     }
     &__property {
      font-weight: 300;
      font-size: 25px;
      line-height: 160%;
      text-align: center;
      color: var(--dark-color);
     }
  }

}
