.view-product {
  margin: 0 auto;
  padding: var(--main-offset);
  background-color: var(--putty-sweet-color);

  &__image {
    padding-right: 10px;

    @include tablet {
      width: 50%;
    }
    @include small-tablet {
      width: 40%;
    }
  }


&__container {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 76px;
  }
&__header {
    display: flex;
    align-items: center;
    grid-column: 2 / 10 span;
    justify-content: space-between;
}
&__availability {
  font: var(--font-light);

  @include small-tablet {
    font-size: 18px;
  }
}
&__content {
  display: grid;
  grid-column: 2 / 10 span;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: var(--ice-color);
}
&__top {
  display: flex;
  justify-content: space-between;
  grid-column: 6 span;
  border-radius: 5px 5px 0 0;
  padding: 50px 100px;
  background-color: var(--ice-color);

  @include tablet {
    padding: 30px 20px;
  }

  @include small-tablet {
    padding: 0 20px 20px 20px;
  }

}

&__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    width: 50%;
  }
  @include small-tablet {
    width: 60%;
    align-items: flex-start;
  }
}
&__name {
  font: var(--font-regular-bold);
  display: inline-block;

  @include small-tablet {
    //min-height: 100px;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 100%;
  }
}
&__property {
  font: var(--font-regular);

  @include small-tablet {
    font-size: 20px;

    line-height: 50%;
  }
}
&__price {
  font: var(--font-light);

  @include small-tablet {
    font-size: 20px;
  }

}
&__refine {
  font: var(--font-mini-light);
  margin-bottom: var(--second-offset);

  @include small-tablet {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
&__details {
  grid-column: 6 span;
  border-radius: 0 0 5px 5px;
  padding: 70px 100px;
  box-shadow: 0px -4px 10px rgba(0, 13, 84, 0.1);
  background-color: var(--light-color);

  @include tablet {
    padding: 30px 10px;
  }

}
}
.graph-modal__close {

  @include small-tablet {
    width: 15px;
    height: 15px;
  }
}











