
<section class="about-slider" id="slider">
  <div class="container">
    <h2 class="about-slider__title visually-hidden">О нас</h2>
    <div class="swiper aboutSlider">
      <div class="swiper-wrapper">
        <div class="swiper-slide about-slider__slide"><img src="img/slide1.png" alt="">
        <div class="about-slider-content">
          <p>Ферма-сыроварня «Леткино» работает с 1995
                                 года, основное направление -
                                  производство сыров по европейским стандартам
                                 из натурального сырья</p>
        </div></div>
        <div class="swiper-slide"><img src="img/slide2.png" alt="">
          <div class="about-slider-content">
            <p> Мы готовим сыры из натурального коровьего,
          козьего и овечьего молока. Мы сами выращиваем
        и ухаживаем за нашими животными</p>
          </div>
        </div>
        <div class="swiper-slide"><img src="img/slide3.png" alt="">
          <div class="about-slider-content">
            <p>Наша ферма находится в 300 км от Москвы,
            в деревне Леткино. Здесь вы можете увидеть все
           сами: пообщаться с животными, посетить
            дегустационную избу, посмотреть на процесс
            приготовления и познакомиться с мастерами</p>
         </div></div>
        <div class="swiper-slide"><img src="img/slide4.png" alt="">
          <div class="about-slider-content"><p>
            Мы готовим сыры из натурального коровьего,
         козьего и овечьего молока. Мы сами выращиваем
       и ухаживаем за нашими животными</p>
         </div></div>
        <div class="swiper-slide"><img src="img/slide5.png" alt="">
          <div class="about-slider-content">

              <span class="about-slider-content__title">Наш адрес</span>
            <address class="about-slider-content__address"><p>
              Калязинский район, д.Леткино, стр.2
            </address>
            <em class="about-slider-content__tel"></em>+7495 679 45 45</em>

         </div></div>
        <div class="swiper-slide"><img src="img/slide1.png" alt="">
          <div class="about-slider-content">
           <span class="about-slider-content__title">ДОСtАВИМ ПО ВАШЕМУ АДРЕСУ</span>
           <em class="uppercase">БeСПЛАТНО</em>
            <span>Доставка осуществляется по будням</span>
            <span>с 10.00 до 20.00</span>
         </div></div>
        <div class="swiper-slide"><img src="img/slide2.png" alt="">
          <div class="about-slider-content">
            <p>
            Мы готовим сыры из натурального коровьего,
         козьего и овечьего молока. Мы сами выращиваем
       и ухаживаем за нашими животными</p>
         </div></div>


      </div>
      <div class="about-slider-nav">
        <div class="about-slider-nav__next"></div>
        <div class="about-slider-nav__prev"></div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>

</section>






