
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/slide1.png" alt=""></div>
            <div class="swiper-slide"><img src="img/slide2.png" alt=""></div>
            <div class="swiper-slide"><img src="img/slide3.png" alt=""></div>
            <div class="swiper-slide"><img src="img/slide4.png" alt=""></div>
            <div class="swiper-slide"><img src="img/slide5.png" alt=""></div>
            <div class="swiper-slide"><img src="img/slide1.png" alt=""></div>
            <div class="swiper-slide"><img src="img/slide2.png" alt=""></div>
            <div class="swiper-slide"><img src="img/slide3.png" alt=""></div>
            <div class="swiper-slide"><img src="img/slide4.png" alt=""></div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>

        <!-- Swiper JS -->


        <!-- Initialize Swiper -->
        <script>
          var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            autoplay: true,
            speed: 1000,
            //spaceBetween: 30,
            freeMode: true,
            navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
            pagination: {
              el: ".swiper-pagination",
              clickable: true,
            },
          });
        </script>

