<div class="add-plus">
  <div class="add-plus__minus">
    <button tabindex="0" type="button" class="add-plus__btn">
      <span class="add-plus__svg" style="border-radius: 8px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
          <path d="M5 11a1 1 0 1 0 0 2h14a1 1 0 1 0 0-2H5Z"></path>
        </svg><span class="_4-e3"></span></span>
    </button>
  </div>
  <span class="add-plus__quantity">1 шт.</span>
  <div class="add-plus__plus">
    <button tabindex="0" type="button" class="add-plus__btn">
      <span class="add-plus__svg" style="border-radius: 8px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
          <path d="M12 4a1 1 0 0 0-1 1v6H5a1 1 0 1 0 0 2h6v6a1 1 0 1 0 2 0v-6h6a1 1 0 1 0 0-2h-6V5a1 1 0 0 0-1-1Z">
          </path>
        </svg>
        <span class="_4-e3">
        </span>
      </span>
    </button>
  </div>
</div>
