<section class="page-cart">
  <div class="container page-cart__container">
    <h1 class="page-cart__title">
      <div class="catalog__content grid">
        <ul class="catalog-list list-reset grid">
          <li class="catalog-list__item">
            <article class="product">
              <div class="product__image">
                <img src="img/maasdam.png" alt=""></div>
              <h3 class="product__title">Маасдам</h3>
              <span class="page-cart__property">Полутвердый сыр</span>
              <strong class="page-cart__price">560</strong>
              <button class="product__btn add-to-cart-btn" data-id="" aria-label="корзина">в корзину
              </button>
            </article>
            <div class="">
              <div class="" type="">
                <div class="">
                  <div class=""><button tabindex="0" type="button" class="_4-a1 _4-e9" style="border-radius: 8px;">
                      <span class="" style="border-radius: 8px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="_4-d8">
                          <path fill="currentColor" d="M5 11a1 1 0 1 0 0 2h14a1 1 0 1 0 0-2H5Z">
                          </path>
                        </svg>
                        <span class="">
                        </span>
                      </span>
                    </button>
                  </div>
                </div>
                <span class="">1 шт.</span>
                <div class="">
                  <div class="">
                    <button tabindex="0" type="button" class="_4-a1 _4-e9" style="border-radius: 8px;">
                      <span class="" style="border-radius: 8px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="_4-d8">
                          <path fill="currentColor"
                            d="M12 4a1 1 0 0 0-1 1v6H5a1 1 0 1 0 0 2h6v6a1 1 0 1 0 2 0v-6h6a1 1 0 1 0 0-2h-6V5a1 1 0 0 0-1-1Z">
                          </path>
                        </svg>
                        <span class="">
                        </span>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="catalog__btn-wrap">
          <button class="catalog__more btn btn-reset btn--mail">Показать еще</button>
        </div>
      </div>
    </h1>
  </div>
</section>
