<footer class="footer">
  <div class="container-fluid footer__container">
    <div class="info footer__info">alferova-studio.com</div>
    <div class="footer__social">
      <a class="footer__image" href="">
        <svg>
          <use xlink:href="img/sprite.svg#twit"></use>
        </svg>
      </a>
    </a>
    <a class="footer__image" href="">
      <svg>
        <use xlink:href="img/sprite.svg#vk"></use>
      </svg>
    </a>
      <a class="footer__image" href="">
        <svg>
          <use xlink:href="img/sprite.svg#odno"></use>
        </svg>


      <a class="footer__image" href="">
        <svg>
          <use xlink:href="img/sprite.svg#what"></use>
        </svg>
      </a>

    </div>

  </div>
</footer>
