<header class="header">
  <div class="container-fluid header__container">
    <div class="connect">
      <a class="connect__image" href="">
        <svg>
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
      </a>
      <a class="connect__link none-mobile" href="">+7 (806) 333-55-55</a>
      <a class="connect__image" href="">
        <svg>
          <use xlink:href="img/sprite.svg#mail"></use>
        </svg>
      </a>
      <a class="connect__link none-mobile" href="">cheese@letkino.ru</a>
    </div>
    <div class="navigation">
      <a class="navigation__image" href="">
        <svg>
          <use xlink:href="img/sprite.svg#houme"></use>
        </svg>
      </a>
      <button class="btn-reset cart__btn cart">
        <svg>
          <use xlink:href="img/sprite.svg#basket"></use>
        </svg>
        <div class="cart__count"></div>
      </button>
      <div class="mini-cart">
        <div class="mini-cart__top" data-simplebar>
          <ul class="mini-cart__list list-reset"></ul>
        </div>
        <div class="mini-cart__bottom">
          <div class="mini-cart__itog">
            <span class="mini-cart__txt">Итого:</span>
            <span class="mini-cart__summ"></span>
          </div>
          <button class="btn-reset btn btn--mail mini-cart__btn" data-graph-path="cart-modal">Перейти в корзину</button>
        </div>
      </div>
      <a class="navigation__image" href="">
        <svg>
          <use xlink:href="img/sprite.svg#order"></use>
        </svg>
      </a>
      <a class="navigation__image" href="">
        <svg>
          <use xlink:href="img/sprite.svg#account"></use>
        </svg>
      </a>
    </div>
    <div class="social">
      <a class="social__image" href="">
        <svg>
          <use xlink:href="img/sprite.svg#twit"></use>
        </svg>
      </a>
      </a>
      <a class="social__image" href="">
        <svg>
          <use xlink:href="img/sprite.svg#vk"></use>
        </svg>
      </a>
      <a class="social__image" href="">
        <svg>
          <use xlink:href="img/sprite.svg#odno"></use>
        </svg>
        <a class="social__image" href="">
          <svg>
            <use xlink:href="img/sprite.svg#what"></use>
          </svg>
        </a>
    </div>
  </div>
</header>
