<section class="hero">
  <div class="container hero__container">
    <div class="menu hero__menu">
      <div class="logo"> <img loading="lazy" src="/img/logo.svg" class="connect__link-image" width="85" height="68"
          alt=""></div>
      <nav class="nav hero__nav" title="Главное меню">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Магазин</a></li>
          <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Доставка</a></li>
        </ul>
      </nav>
    </div>
    <div class="hero__content">
      <h1 class="hero__title title">Леткино</h1>
      <h2 class="hero__subtitle subtitle">Сыроварня с 1995 года</h2>
    </div>
  </div>
</section>
