<section class="hero">
  <div class="container hero__container">
    <div class="menu hero__menu">
      <div class="logo"><img loading="lazy" src="/img/logo.svg" class="connect__link-image" width="85" height="68"
          alt=""></div>
      <nav class="nav hero__nav" title="Главное меню">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#catalog" class="nav__link">Магазин</a></li>
          <li class="nav__item"><a href="#slider" class="nav__link">О нас</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Доставка</a></li>
        </ul>
      </nav>
    </div>
    <div class="hero__content">


      <h1 class="hero__title title visually-hidden">Леткино</h1>

        <div class="hero__big-logo">
          <img src="img/big-logo.svg" alt="">
          <h2 class="hero__subtitle">сыроварня с 1985 года</h2>
        </div>




    </div>
  </div>
</section>
