<div class="message">
  <div class="container message__container">
    <div class="message__title">Напишите нам!</div>
   <!--
    <form action="" class="form message__form">
      <label class="form__label" for="name">
        <input type="text" name="name" class="input-reset form__input" placeholder="*Имя">
      </label>
      <label class="form__label" for="mail">
        <input type="text" name="mail" class="input-reset form__input" placeholder="*Email">
      </label>
      <label class="form__label" for="theme">
        <input type="text" name="theme" class="input-reset form__input" placeholder=" Тема">
      </label>
      <label class="form__label" for="message">
        <textarea type="text" name="message" class="textarea-reset form__textarea" placeholder="*Сообщение"></textarea>

      </label>
      <div class="form__btn">
        <button class="btn-reset btn--mail">Отправить</button>
      </div>


    </form>
   -->

    <form action="#" class="callback-form">

      <label class="form__label">
        <input type="text" class="input-reset callback-form__input" placeholder="Ваше имя" name="name"
          data-validate-field="name">
      </label>
      <label class="form__label">
        <input type="tel" class="input-reset callback-form__input" placeholder="Номер телефона" name="phone"
          data-validate-field="phone">
      </label>
      <label class="form__label" for="message">
        <textarea type="text" name="message" class="textarea-reset callback-form__textarea" placeholder="*Сообщение"></textarea>

      </label>
      <div class=" callback-form__btn">
        <button class="btn btn-reset btn--mail">Отправить</button>
      </div>
    </form>
  </div>

</div>
