<section class="view-product">

  <div class="container view-product__container">
    <div class="view-product__header">
      <h1 class="view-product__availability">В наличии</h1>
      <h2 class="view-product__title">Маасдам<span>(Maasdam)</span></h2>
    </div>

    <div class="view-product__content">
      <div class="view-product__top">
        <div class="view-product__image">
          <img src="img/camamber.png" alt="">
        </div>
        <div class="view-product__text">
          <h1 class="view-product__name">Маасдам</h1>
          <h2 class="view-product__property">Полутвердый сыр
          </h2>
          <div class="view-product__price">350.00 P </div>
          <div class="view-product__refine">цена указана за 100 грамм</div>
          <button class="btn-reset btn btn--buy">В корзину</button>
        </div>
      </div>
      <div class="view-product__details details">
        <ul class="details__list list-reset">
          <li class="details-accordion">
            <button class="details-accordion__control btn-reset" aria-expanded="false">
              <span class="details-accordion__title">Маасдам&nbsp;&mdash; Описание&nbsp;</span>
              <span class="details-accordion__icon"></span>
            </button>
            <div class="details-accordion__content" aria-hidden="true">
<p>полутвердый сыр, который производят из&nbsp;коровьего молока. Для маасдама характерен нежный, сливочный, немного сладковатый вкус, который сыр приобретает в&nbsp;процессе созревания. Отличается мягким <nobr>сладковато-ореховым</nobr> вкусом. Степень зрелости сыра определяется размером глазков: чем они больше, тем маасдам более зрелый. Диаметр полостей различается от&nbsp;1 до&nbsp;5&nbsp;см и&nbsp;зависит от&nbsp;температуры в&nbsp;камере созревания и&nbsp;особенностей технологии.</p>
            </div>
          </li>

          <li class="details-accordion">
            <button class="details-accordion__control btn-reset" aria-expanded="false">
              <span class="details-accordion__title">Пищевая ценность на&nbsp;100 г</span>
              <span class="details-accordion__icon"></span>

            </button>
            <div class="details-accordion__content details-accordion__content--max" aria-hidden="true">
              <p>350 кКал Белки 23.5 г&nbsp;Жиры 26 г&nbsp;Углеводы 0 г&nbsp;Пищевые волокна 0 г&nbsp;Вода 0 г</p>
            </div>
          </li>
        </ul>



      </div>
      </div>
    </div>
  </div>
</section>
